
body {
    background-color: rgb(200, 200, 250);
}


/*  ---------------------------------------------------------------
    Create page heading class to add a bottom border to separate 
    the page title from the main data on the page.
    ---------------------------------------------------------------
*/

.page-heading {
    border-bottom: 2px solid lightgoldenrodyellow;
}

/*  ---------------------------------------------------------------
    Special formatting for links on Nav bar.  Thank you, Tucker.
    ---------------------------------------------------------------
*/

.navbar {
    background-color: lightsalmon;
    /* background-color: rgb(247, 156, 133); */
}

.nav-item{
    height: 25px;
    line-height: 7px;
    margin-right: 10px;
    border-right: 1px solid black;
    padding-right: 10px;
  }
  .nav-item:last-child{
    margin-right: 0;
    border-right: none;
    padding-right: 0;
  }